<template>
  <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-sm w-full">
      <form @submit.prevent="signIn">
        <div class="w-full grid col-span-1 gap-2">
          <div v-show="!signing.status && signing.error" class="signing-error">
            <p>
              El correo o la contraseña son incorrectos, por favor intente nuevamente.
            </p>
          </div>
          <div class="col-span-1">
            <input v-model="user.email" type="email" class="bg-gray-50 w-full text-sm rounded-md border-gray-300" placeholder="Email" required>
          </div>
          <div class="col-span-1">
            <input v-model="user.password" type="password" class="bg-gray-50 w-full text-sm rounded-md border-gray-300" placeholder="Contraseña" required>
          </div>
          <div class="col-span-1 mt-2">
            <button class="relative bg-indigo-500 w-full flex items-center justify-center text-white text-sm px-3 py-2 rounded-md disabled:bg-indigo-400 disabled:cursor-not-allowed" :disabled="signing.status">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
              </span>
              <template v-if="!signing.status">
                Entrar
              </template>
              <template v-else>
                Iniciando sesión...
              </template>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexLogin',
  layout: 'login',
  data () {
    return {
      signing: {
        error: false,
        status: false
      },
      user: {
        email: '',
        password: ''
      }
    }
  },
  head () {
    return {
      title: 'Iniciar sesión'
    }
  },
  methods: {
    signIn () {
      const credentials = {
        email: this.user.email.trim(),
        password: this.user.password
      }

      this.signing.status = true
      this.$auth.signIn(credentials)
        .then((user) => {
          setTimeout(() => {
            this.signing.status = !this.signing.status
            window.location = '/'
          }, 1000)
        })
        .catch(() => {
          this.signing.error = true
          this.signing.status = !this.signing.status
        })
    }
  }
}
</script>

<style lang="postcss" scoped>
.signing-error {
  @apply bg-red-100 px-3 py-2 mb-2 border rounded-sm;
  p {
    @apply font-medium text-xs text-justify tracking-wide;
  }
}
</style>
