<template>
  <div class="flex flex-col space-y-4 mt-4">
    <PaymentListItem
      v-for="(payment, $paymentIndex) in payments"
      :key="$paymentIndex"
      :payment="payment"
    />
  </div>
</template>

<script>
import PaymentListItem from '@/components/PaymentListItem.vue';

export default {
  components: {
    PaymentListItem
  },
  props: ['payments']
}
</script>
