<template>
  <div class="mt-6">
    <div class="flex flex-col justify-between">
      <label>
        <span class="text-xs text-gray-500 font-semibold uppercase">
          Registrar pago
        </span>
      </label>
      <div class="flex flex-col mt-1">
        <input v-model="payment.description" type="text" class="text-sm rounded-md border-gray-300" placeholder="Descripción">
        <div class="grid grid-cols-2 gap-6 mt-2">
          <div class="col-span-1">
            <input :value="parseDate(date)" type="text" class="text-sm text-center rounded-md border-gray-300 cursor-not-allowed disabled:bg-indigo-50" placeholder="Fecha" :disabled="true">
          </div>
          <div class="col-span-1">
            <cleave v-model.number="payment.amount" :options="{ numeral: true }" class="text-sm text-center rounded-md border-gray-300" placeholder="Monto" />
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-6 mt-3">
        <button class="col-span-1 bg-red-400 text-white text-sm rounded-md py-2 px-4" @click="$emit('cancel')">
          Cancelar
        </button>
        <button class="col-span-1 bg-indigo-500 text-white text-sm rounded-md py-2 px-4" @click="$emit('confirm', payment)">
          Guardar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
const dayjs = require('dayjs')

export default {
  props: {
    date: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      payment: {
        amount: 0,
        date: this.date,
        description: ''
      }
    }
  },
  methods: {
    parseDate (date = '') {
      return dayjs(date).format('DD/MM/YYYY')
    }
  }
}
</script>
