<template>
  <div class="payment-item">
    <div class="payment-item__detail">
      <h3 class="text-sm font-medium">
        {{ payment.description }}
      </h3>
      <div class="flex">
        <div class="flex-auto">
          <span class="text-sm">
            {{ parseDate(payment.date) }}
          </span>
        </div>
        <div>
          <span class="text-sm italic">
            {{ payment.amount | currency }}
          </span>
        </div>
      </div>
    </div>
    <div class="payment-item__options">
      <div class="absolute inset-0 -right-full flex items-center justify-center ml-12">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
const dayjs = require('dayjs')

export default {
  props: ['payment'],
  methods: {
    parseDate (date = '') {
      return dayjs(date).format('DD/MM/YYYY')
    }
  }
}
</script>

<style lang="postcss" scoped>
.payment-item {
  @apply relative bg-white flex flex-col border rounded-lg shadow-lg px-3 py-2;
  .payment-item__detail:hover + .payment-item__options{
    @apply block;
  }
  .payment-item__options {
    @apply hidden;
  }
}
</style>
