<template>
  <div class="max-w-sm mx-auto sm:mx-auto">
    <TheAdminbar />
    <div class="w-full mt-7">
      <div class="flex justify-between">
        <h1 class="flex items-center text-sm uppercase">
          Mensual: <span class="font-semibold ml-2">{{ totalMonthlyAmount | currency }}</span>
        </h1>
        <h1 class="flex items-center text-sm uppercase">
          Diario: <span class="font-semibold ml-2">{{ totalAmountDay | currency }}</span>
        </h1>
      </div>
      <div class="flex mt-3">
        <select v-model="currentDate" class="block w-full text-sm rounded-md border-gray-300" @change="getPayments()">
          <option v-for="(date, $dateIndex) in getCompleteMonth()" :key="$dateIndex" :value="date">
            {{ parseDate(date) }}
          </option>
        </select>
      </div>
      <div v-if="gettingContent" class="flex justify-center mt-6">
        <p class="text-gray-400">Cargando información...</p>
      </div>
      <PaymentsList v-else-if="countPayments > 0" :payments="payments" />
      <div v-else class="flex justify-center mt-6">
        <p class="text-gray-400">No existen pagos realizados.</p>
      </div>
      <div v-if="!addItem" class="flex items-center justify-center mt-6">
        <div class="bg-gray-200 rounded-full p-3 cursor-pointer transition hover:bg-gray-300" @click="addPayment">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
        </div>
      </div>
      <PaymentAddItem v-else :date="currentDate" @cancel="addItem = !addItem" @confirm="savePayment" />
    </div>
  </div>
</template>

<script>
import TheAdminbar from '~/components/TheAdminbar.vue'
import PaymentsList from '@/components/PaymentsList.vue'
import PaymentAddItem from '@/components/PaymentAddItem.vue'

const dayjs = require('dayjs')

export default {
  name: 'IndexPage',
  components: {
    TheAdminbar,
    PaymentsList,
    PaymentAddItem
  },
  data () {
    return {
      addItem: false,
      currentDate: dayjs().format('YYYY-MM-DD'),
      gettingContent: false,
      monthlyPayments: [],
      payments: {}
    }
  },
  head () {
    return {
      title: 'Welcome'
    }
  },
  computed: {
    countPayments () {
      return Object.values(this.payments).length
    },
    totalAmountDay () {
      return Object.values(this.payments).reduce((total, payment) => total + payment.amount, 0)
    },
    totalMonthlyAmount () {
      return Object.values(this.monthlyPayments).reduce((total, payment) => total + payment.amount, 0)
    }
  },
  created () {
    this.$nextTick(() => {
      this.getPayments()
      this.getMonthlyPayments()
    })
  },
  methods: {
    addPayment () {
      this.addItem = !this.addItem
    },
    getCompleteMonth () {
      const month = [
        dayjs().date(1).format('YYYY-MM-DD')
      ]

      // Populate month
      for (let index = 1; index < dayjs().format('DD'); index++) {
        month.push(dayjs().date(index + 1).format('YYYY-MM-DD'))
      }

      return month
    },
    async getMonthlyPayments () {
      await this.$billing.getMonthlyPayments('payments')
        .then((snapshot) => {
          if (snapshot.exists()) {
            this.monthlyPayments = snapshot.val()
          }
        })
        .catch((err) => alert(err))
    },
    async getPayments () {
      this.gettingContent = !this.gettingContent
      await this.$billing.getCollection('payments', {
        equalTo: {
          key: 'date',
          value: this.currentDate
        }
      })
        .then((snapshot) => {
          this.gettingContent = !this.gettingContent
          if (snapshot.exists()) {
            this.payments = snapshot.val()
          } else {
            this.payments = {}
          }
        })
        .catch((error) => alert(error))
    },
    parseDate (date = '') {
      return dayjs(date).format('DD/MM/YYYY')
    },
    async savePayment (payment) {
      if (payment.amount <= 0 || payment.description === '') {
        return
      }

      await this.$billing.writeCollection('payments', payment)
        .then(() => {
          this.addItem = !this.addItem
          this.getPayments()
          this.getMonthlyPayments()
        })
    }
  }
}
</script>
